<footer class="site-footer container large">
    <div class= "footer-wrap">
        <div class="footer-content">
            <div class="footer-logo">
                {{>logo}}
            </div>
            <p class="footer-info">21 Gamecock Avenue, Suite B<br />
                Charleston, SC 29407<br /><br />
                (843) 571-5502</p>
        </div>
        <div class="copyright">
            &copy; <a href="https://killencpa.com">Killen &amp; Associates</a> 2022.
            All rights reserved.
        </div>
  </div>
</footer>
