@font-face {
   font-family: "logo";
   src: url("../fonts/logo.otf");
}

@font-face {
   font-family: "logoscript";
   src: url("../fonts/logo-ampersand.otf");
}

.logo-text {
  font-family: "logo", sans-serif;
  font-weight: 400;
}

.logo-text-script {
  font-family: "logoscript", script;
}
