@font-face {
   font-family: "logo";
   src: url("../fonts/toledo-regular.otf");
}

@font-face {
   font-family: "logoscript";
   src: url("../fonts/FontsFree-Net-Shelley-Allegro-BT.ttf");
}

.logo-text {
  font-family: "logo", sans-serif;
  font-weight: 400;
}

.logo-text-script {
  font-family: "logoscript", script;
}
